*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(15, 23, 41, 1);
}

.navbar{
    padding: 4px 30px;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(15, 23, 41, 1);
}
.logo{
    color: white;
}
.logo h1{
  background: -webkit-linear-gradient(#eeeeee,#c41a1a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-items ul{
  display: flex;
  gap: 25px;
}
.nav-items ul li{
  list-style-type: none;
}
.nav-items ul li a{
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.nav-right{
  display: flex;
  gap: 20px;
}
.nav-right button{
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.nav-right .icon{
  display: none;
  font-weight: 700;
  color: white;
}

.banner{
    height: 100vh;
    padding: 30px;
    background-color: rgb(15, 25, 41, 1);
}

.banner-img{
  display: block;
  margin:auto;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background:linear-gradient(yellow, orange,pink, purple,blue);
  padding: 5px;
}
.banner-img img{
    height:100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

h2{
    text-align: center;
    color: white;
    margin: 20px 0;
}
.descriptions p{
    width: 70%;
    margin: auto;
    text-align: center;
    color: white;
}
.social-links{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    margin-right: 25px;
    font-size: 30px;
}
.hire{
  margin: 10px 0;
  text-align: center;
  color: white;
  border: none;
    
}
.hire-me{
  font-size: 30px;
  padding: 5px 18px;
  border-radius: 20px;
  background-color: white;
  color: black;
  border: none;
}
.about-me{
  /* margin: 30px; */
  padding: 30px 30px;
  background-color: rgb(18, 23, 41, 1);
}
.about-me h2{
  margin-bottom: 30px;
}

.about-details{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  color: white;
}
.about-details img{
  width: 100%;
}


/* .my-skills{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  width: 90%;
  margin: auto;
} */

.skills{
  margin: 20px;
  padding: 0 30px;
}
.frontend{
  display: flex;
  flex-direction: column;
}
.frontend .title{
  color: white;
  background: -webkit-linear-gradient(#eeeeee,#c41a1a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.my-skills{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /* padding: 0 50px; */
}

/* skills  */
.skill-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: #ccb5b5;
  padding: 5px 15px;
  margin: 15px;
}
.skill-card i{
  background-color: #b0acac;

}
.skill-card h3{
  margin-left: 20px;
  background-color: #b0acac;
  
}

/* services */

.services{
    margin: 20px;
    padding: 0 30px;
}

.service{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

}
.left-side{
    /* border: 2px solid red; */
    color: white;
    margin: auto;
    padding: 30px 0;
}

.left-side img{
  width: 400px;
}
.right-side{
    /* border: 2px solid red; */
    color: white;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}
.abc{
  display: flex;
  align-items: center;
  padding-left: 10px;
  /* line-height: inherit; */
}
.dot {
  width: 10px;
  height: 10px;
  background-color: #ffffff; 
  border-radius: 50%;
  margin-right: 5px;
}

.projects{
  margin: 20px;
  padding: 20px;
}

.project{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

    

}
.card {
    /* width: 300px; */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid red;
  }

  .card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }

  .card-content {
    padding: 16px;
    color: white;
  }

  .card h3 {
    margin-top: 0;
  }

  .card p {
    color: #666;
  }


  /* contact */

  .contact {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    margin-bottom: 8px;
    color: white;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
  }

  .form-group textarea {
    resize: vertical;
    min-height: 100px;
  }

  .form-group button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  
.contact-para{
  text-align: center;
  color: white;
}
  .contact-information{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
  }
  .contact-details{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
    padding: 30px 25px;
    border-radius: 10px;
    /* border: 2px solid red; */
    background-color: #666;
  }
  .contact-icon{
    margin-right: 40px;
    background-color: #666;
    font-size: 40px;

  }
  .contact-info {
    background-color: #666;
  }


  @media (max-width:688px){
    .nav-right .icon{
        display: block;
    }
    .nav-items ul {
        display: block;
    }
    .nav-items{
        position: absolute;
        top: 50px;
        width: 40%;
        /* background-color: black; */
        display: none;
    }
    .nav-items ul li a{
        display: block;
        margin-bottom: 10px;
        color: white;
        text-align: center;
        border: 2px solid red;
    }
    .nav-items.active{
        display: block;
    }
    .about-details{
      grid-template-columns: repeat(1, 1fr);
    }
    .my-skills{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
    .service{
      grid-template-columns: repeat(1, 1fr);
    }
    .left-side img{
      width: 100%;
    }
    .project{
      grid-template-columns: repeat(1, 1fr);
    }
    .contact{
      grid-template-columns: repeat(1, 1fr);
    }
    .contact .contact-information{
      width: 100%;
    }
}